datasets==3.4.1
accelerate==1.6.0
peft==0.15.1
trl==0.8.6
gradio>=3.38.0,<4.0.0
scipy
einops
sentencepiece
protobuf==5.26.0
jieba
rouge-chinese
nltk
uvicorn
pydantic==2.8.0
fastapi
sse-starlette
matplotlib
deepspeed==0.14.4
bitsandbytes==0.45.3
transformers==4.55.0
pyusb==1.2.1
aiocsv==1.3.2
rich==14.2.0
